body{
	background-color:#E6FFD8;
}
form{
	font-family:Arial;
	font-size:18px;
	color:#0092B2;
	font-weight:bold;
	text-shadow: 1px 1px 1px #CCC ;
	background-image:
}
div
{
	
	font-weight:bold;
	text-shadow: 3px 3px 3px #999999;
	font-size:38px;
	font-family:Trebuchet MS;
   -webkit-text-fill-color:#0092B2;
	text-align :center;


}